.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 0;
  height: 80px;
  pointer-events: none;
}

.Requester-name {
  color: black;
}

.App-link {
  color: black;
  position: absolute;
  bottom: 0;
}
