.clientsList {
    margin-top: 20px;
}

.client-list-item {
    margin-bottom: 10px;
}

.button {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    display: none;
    border-width: 0 1px 1px 1px;
    border-color: #DDD;
    border-style: solid;
    padding: 10px;
}

.dropdown-open {
    composes: dropdown;

    display: block;
}

.dropdown-arrow {
    width: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-arrow-open {
    composes: dropdown-arrow;
    transform: translateY(-50%) rotate(180deg);
}